:root {
    --primary: rgb(150, 105, 222);
    --primaryDark: rgb(116, 55, 181);
    --secundary: rgb(255, 253, 151);
    --secundaryDark: rgb(232, 208, 103);
    --white: #fff;
    --black: #000;

    --mainFont: 'Staatliches', cursive;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    /* 1rem = 10px */
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/** Globals **/

body {
    font-size: 1.6rem;
    background-color: var(--primary);
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
    color: var(--secundary);
    font-family: var(--mainFont);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

/** Header **/

.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 3rem 0;
}

/** Footer **/
.footer {
    background-color: var(--primaryDark);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__text {
    font-family: var(--mainFont);
    text-align: center;
    font-size: 2.2rem;
}

/** Navegation **/

.navegation {
    background-color: var(--primaryDark);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navegation__link {
    font-family: var(--mainFont);
    color: var(--white);
    font-size: 3rem;
}

.navegation__link:hover, .navegation__link--active {
    color: var(--secundary);
}

/** Grid **/

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
    
}

/** Product **/

.product {
    background-color: var(--primaryDark);
    padding: 1rem;
    border-radius: 2rem;
}

.product__image {
    width: 100%;
    border-radius: 2rem;
}

.product__info {
}

.product__name {
    font-size: 4rem;
}

.product__price {
    font-size: 2.8rem;
    color: var(--secundary);
}

.product__name,
.product__price {
    font-family: var(--mainFont);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/** Graphics **/

.graphic {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}

.graphic--shirts {
    grid-row: 2 / 3;
    background-image: url(../img/grafico1.jpg);
}

.graphic--node {
    background-image: url(../img/grafico2.jpg);
    grid-row: 8 / 9;
}

@media (min-width: 768px) {
    .graphic--node {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}
